*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dash {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 100vh;
    justify-content: center;
}

#grafico1, #grafico2 {
    width: 800px
}